{
    "openapi": "3.0.0",
    "info": {
        "title": "CBL APIs",
        "description": "This is test on CBL APIs",
        "contact": {
            "email": "it@creditbank.co.ke"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://sandboxkonnectapi.creditbank.co.ke",
            "description": "CBL Dev API Gateway"
        }
    ],
    "tags": [
        {
            "name": "Send Money",
            "description": "Send Money APIs"
        },
        {
            "name": "Accounts",
            "description": "CBL Accounts"
        },
        {
            "name": "Buy",
            "description": "Buy Apis"
        },
        {
            "name": "Bill Payments",
            "description": "Pay your bills from your CBL account"
        },
        {
            "name": "Other Services",
            "description": "Other Service APIs"
        },
        {
            "name": "Recieve Money",
            "description": "Send Money Via Mpesa"
        }
    ],
    "paths": {
        "/create-standing-order": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Create a standing order on your CBL account",
                "description": "Create a standing order on your CBL account\n",
                "operationId": "createStandingOrder",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Create a standing order Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/createStandingOrderRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully created standing order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/create-external-standing-order": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Create a standing order from your CBL account to an account within another bank",
                "description": "Create a standing order from your CBL account to an account within another bank\n",
                "operationId": "createExternalStandingOrder",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Create a standing order Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/createExternalStandingOrderRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully created standing order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/standing-order-lookup": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Search for an existing standing order on your CBL account",
                "description": "Search for existing standing order on your CBL account\n",
                "operationId": "standingOrderLookup",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Results for Search on an existing standing order Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/standingOrderLookupRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Found the following details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/ammend-standing-order": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Ammend an existing standing order on your CBL account",
                "description": "Ammend an existing standing order on your CBL account\n",
                "operationId": "ammendStandingOrder",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Ammend an existing standing order Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ammendStandingOrderRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully ammended standing order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/cancel-standing-order": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Cancel an existing standing order on your CBL account",
                "description": "Cancel an existing standing order on your CBL account\n",
                "operationId": "cancelStandingOrder",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Cancel a standing order Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/cancelStandingOrderRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully cancelled the standing order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/balance-inquiry": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Get account balance",
                "description": "Get account balance\n",
                "operationId": "balanceInquiry",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Create a balance inquiry Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/balanceInquiryRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully created standing order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/balanceInquiryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/account-statement": {
            "post": {
                "tags": [
                    "Accounts"
                ],
                "summary": "Get account statement",
                "description": "Get account statement\n",
                "operationId": "accountStatement",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Create a account statement inquiry Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/accountStatementRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully processed account statement",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/accountStatementResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/forex": {
            "post": {
                "tags": [
                    "Send Money"
                ],
                "summary": "Get Forex Rates",
                "description": "Get Forex Rates\n",
                "operationId": "forex",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Create a forex rate Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "nullable": true
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully fetched forex rates",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/forexResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/rtgs": {
            "post": {
                "tags": [
                    "Send Money"
                ],
                "summary": "Send money via RTGS",
                "description": "Send money via RTGS\n",
                "operationId": "rtgs",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Create a RTGS Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/rtgsRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully fetched forex rates",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/rtgsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/pesa-link-to-bank": {
            "post": {
                "tags": [
                    "Send Money"
                ],
                "summary": "Transfer funds from your CBL account through Pesalink to other banks",
                "description": "Transfer funds from your CBL account through Pesalink to other banks\n",
                "operationId": "pesalinkToBank",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Pesa link to other bank Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/pesalinkToBankRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully transfered the funds",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/mpesa-b2c": {
            "post": {
                "tags": [
                    "Send Money"
                ],
                "summary": "Transfer funds from your CBL account to MPESA",
                "description": "Transfer funds from your CBL account to MPESA\n",
                "operationId": "mpesaB2C",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "MPESA B2C Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/mpesaB2CRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully transfered the funds",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/airtel-b2c": {
            "post": {
                "tags": [
                    "Send Money"
                ],
                "summary": "Transfer funds from your CBL account to Airtel",
                "description": "Transfer funds from your CBL account to Airtel\n",
                "operationId": "airtelB2C",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Airtel B2C Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/airtelB2CRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully transfered the funds",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/internal-funds-transfer": {
            "post": {
                "tags": [
                    "Send Money"
                ],
                "summary": "Transfer funds from your CBL account to other CBL accounts",
                "description": "Transfer funds from your CBL account to other CBL accounts\n",
                "operationId": "internalFundsTransfer",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Internal Funds Transfer Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/internalFundsTransferRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully transfered the funds",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/wallet-funds-transfer": {
            "post": {
                "tags": [
                    "Send Money"
                ],
                "summary": "Transfer funds from your CBL account to wallet accounts",
                "description": "Transfer funds from your CBL account to wallet accounts\n",
                "operationId": "walletFundsTransfer",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Wallet Funds Transfer Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/walletFundsTransferRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully transfered the funds",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/wallet-to-wallet-transfer": {
            "post": {
                "tags": [
                    "Send Money"
                ],
                "summary": "Transfer funds from your CBL wallet to another CBL wallet accounts",
                "description": "Transfer funds from your CBL wallet to another CBL wallet accounts\n",
                "operationId": "walletToWalletTransfer",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Wallet to Wallet Transfer Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/walletToWalletTransferRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully transfered the funds",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/safaricom-airtime-top-up": {
            "post": {
                "tags": [
                    "Buy"
                ],
                "summary": "Safaricom Airtime Topup",
                "description": "Buy Safaricom pre-paid airtime from your CBL account\n",
                "operationId": "safaricomAirtimeTopUp",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Safaricom Airtime Top Up Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/safaricomAirtimeTopUpRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "search results matching criteria",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/telkom-airtime-top-up": {
            "post": {
                "tags": [
                    "Buy"
                ],
                "summary": "Telkom Airtime Topup",
                "description": "Buy Telkom pre-paid airtime from your CBL account\n",
                "operationId": "telkomAirtimeTopUp",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Telkom Airtime Top Up Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/telkomAirtimeTopUpRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "search results matching criteria",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/airtel-airtime-top-up": {
            "post": {
                "tags": [
                    "Buy"
                ],
                "summary": "Airtel Airtime Topup",
                "description": "Buy Airtel pre-paid airtime from your CBL account\n",
                "operationId": "airtelAirtimeTopUp",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Airtel Airtime Top Up Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/airtelAirtimeTopUpRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "search results matching criteria",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/iprs": {
            "post": {
                "tags": [
                    "Other Services"
                ],
                "summary": "Query IPRS for details of a kenyan citizen",
                "description": "Query IPRS for details of a kenyan citizen\n",
                "operationId": "iprs",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "IPRS Query Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/iprsRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "search results matching criteria",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/iprsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/crb": {
            "post": {
                "tags": [
                    "Other Services"
                ],
                "summary": "Query CRB for details of a kenyan citizen",
                "description": "Query CRB for details of a kenyan citizen\n",
                "operationId": "crb",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "CRB Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/crbRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "search results matching criteria",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/crbResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/nairobi-water": {
            "post": {
                "tags": [
                    "Bill Payments"
                ],
                "summary": "Pay your nairobi water bill from your CBL account",
                "description": "Pay your nairobi water bill from your CBL account\n",
                "operationId": "nairobiWater",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Nairobi water bill payment Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/nairobiWaterBillPaymentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Request successfully processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/zuku-internet": {
            "post": {
                "tags": [
                    "Bill Payments"
                ],
                "summary": "Pay your zuku internet bill from your CBL account",
                "description": "Pay your zuku internet bill from your CBL account\n",
                "operationId": "zukuInternet",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Zuku internet bill payment Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/zukuInternetBillPaymentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Request successfully processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/zuku-tv": {
            "post": {
                "tags": [
                    "Bill Payments"
                ],
                "summary": "Pay your zuku TV bill from your CBL account",
                "description": "Pay your zuku TV bill from your CBL account\n",
                "operationId": "zukuTV",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Zuku TV bill payment Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/zukuTVBillPaymentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Request successfully processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/startimes-tv": {
            "post": {
                "tags": [
                    "Bill Payments"
                ],
                "summary": "Pay your startimes TV bill from your CBL account",
                "description": "Pay your startimes TV bill from your CBL account\n",
                "operationId": "startimesTV",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Startimes TV bill payment Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/starTimesBillPaymentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Request successfully processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/dstv-presentment": {
            "post": {
                "tags": [
                    "Bill Payments"
                ],
                "summary": "Pay your DSTV bill from your CBL account",
                "description": "Pay your DSTV bill from your CBL account\n",
                "operationId": "dstvPresentment",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "DSTV bill presentment Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/dstvPresentmentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Request successfully processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dstvPresentmentResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/dstv-payment": {
            "post": {
                "tags": [
                    "Bill Payments"
                ],
                "summary": "Pay your DSTV bill from your CBL account",
                "description": "Pay your DSTV bill from your CBL account\n",
                "operationId": "dstvPayment",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "DSTV bill payment Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/dstvBillPaymentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Request successfully processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/gotv-presentment": {
            "post": {
                "tags": [
                    "Bill Payments"
                ],
                "summary": "Pay your GOTV bill from your CBL account",
                "description": "Pay your GOTV bill from your CBL account\n",
                "operationId": "gotvPresentment",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "GOTV bill presentment Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/gotvPresentmentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Request successfully processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/gotvPresentmentResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/gotv-payment": {
            "post": {
                "tags": [
                    "Bill Payments"
                ],
                "summary": "Pay your GOTV bill from your CBL account",
                "description": "Pay your GOTV bill from your CBL account\n",
                "operationId": "gotvPayment",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "GOTV bill payment Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/gotvBillPaymentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Request successfully processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/pesalink-verification": {
            "post": {
                "tags": [
                    "Send Money"
                ],
                "summary": "Verify account number Pesalink",
                "description": "Verify account number Pesalink\n",
                "operationId": "pesalinkVerification",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Verify account number on Pesalink",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/pesalinkVerificationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Request successfully processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/account-lookup": {
            "post": {
                "tags": [
                    "Send Money"
                ],
                "summary": "Verify account number Pesalink",
                "description": "Verify account number Pesalink\n",
                "operationId": "PesalinkverificationRequest",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Verify account number on Pesalink",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/verificationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Request successfully processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/b2b": {
            "post": {
                "tags": [
                    "Recieve Money"
                ],
                "summary": "Send Money From Business Merchant To Business Merchant",
                "description": "Send Money From Business To Business\n",
                "operationId": "b2bRequest",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Send Money From Business To Business",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/b2bRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Request successfully processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/b2bResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/initiate-payment": {
            "post": {
                "tags": [
                    "Send Money"
                ],
                "summary": "Send Money To Another Account",
                "description": "Send Money To Another Account\n",
                "operationId": "creditTransferRequest",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Verify account number on Pesalink",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/creditTransferRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Request successfully processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/creditTransferResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/wallet-registration": {
            "post": {
                "tags": [
                    "Send Money"
                ],
                "summary": "create a wallet account CBL",
                "description": "create a wallet account CBL\n",
                "operationId": "walletRegistration",
                "parameters": [
                    {
                        "name": "x-app-id",
                        "in": "header",
                        "description": "pass the project id",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "api-key",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "create a wallet account CBL",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/walletRegistrationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Request successfully processed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/defaultResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/safaricom-callback": {
            "post": {
                "tags": [
                    "Other Services"
                ],
                "summary": "Call Back from Safaricom",
                "description": "Callback service\n",
                "operationId": "safaricomCallback",
                "requestBody": {
                    "description": "Create a balance inquiry Request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/safaricomCallback"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully created standing order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/safaricomCallback"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/safaricom-qrcode": {
            "post": {
                "tags": [
                    "Recieve Money"
                ],
                "summary": "Dynamic Qrcode for Till Payments",
                "description": "Generates a dynamic M-PESA QR Code.Which enables Safaricom MPESA Customers who have My Safaricom APP and Mpesa APP\n",
                "operationId": "mpesaQrcode",
                "requestBody": {
                    "description": "Pay using the native Qrcode",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/qrCodeSchemaRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully created standing order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/qrCodeSchemaResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/safaricom-stkpush": {
            "post": {
                "tags": [
                    "Recieve Money"
                ],
                "summary": "Stk Push Initiated by Safaricom",
                "description": "Initiates Online Payments on behalf of a merchant by sending a payment prompt on the customers phone\n",
                "operationId": "stkPush",
                "requestBody": {
                    "description": "Pay using the stkPush",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/stkPushSchemaRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully created standing order",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/stkPushSchemaResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        },
        "/safaricom-static-code": {
            "post": {
                "tags": [
                    "Recieve Money"
                ],
                "summary": "Static QRCode Initiated by Safaricom",
                "description": "Static Qrcode for making Payments\n",
                "operationId": "staticQRcode",
                "requestBody": {
                    "description": "Pay using the Static Qrcode",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/staticQRSchemaRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successfully Paid with Static Code",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/staticQRSchemaResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "bad input parameter"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "walletRegistrationRequest": {
                "required": [
                    "currency",
                    "timestamp",
                    "transactionType",
                    "surname",
                    "firstName",
                    "lastName",
                    "idNumber",
                    "email",
                    "deviceId",
                    "imsi",
                    "dateOfBirth",
                    "phoneNumber",
                    "gender"
                ],
                "type": "object",
                "properties": {
                    "currency": {
                        "type": "string",
                        "example": "KES"
                    },
                    "timestamp": {
                        "type": "string",
                        "example": "2021-01-29T00:54:08+03:00"
                    },
                    "transactionType": {
                        "type": "string",
                        "example": "WALLET_REGISTRATION"
                    },
                    "surname": {
                        "type": "string",
                        "example": "EKUWOM"
                    },
                    "firstName": {
                        "type": "string",
                        "example": "AGNES"
                    },
                    "lastName": {
                        "type": "string",
                        "example": "AMONI"
                    },
                    "idNumber": {
                        "type": "string",
                        "example": "20098160"
                    },
                    "email": {
                        "type": "string",
                        "example": "test@gmail.com"
                    },
                    "deviceId": {
                        "type": "string",
                        "example": "124359837755"
                    },
                    "imsi": {
                        "type": "string",
                        "example": "0893523736236"
                    },
                    "dateOfBirth": {
                        "type": "string",
                        "example": "09-12-2000"
                    },
                    "phoneNumber": {
                        "type": "string",
                        "example": "254"
                    },
                    "gender": {
                        "type": "string",
                        "example": "M"
                    }
                }
            },
            "pesalinkVerificationRequest": {
                "required": [
                    "bankCode",
                    "timestamp",
                    "accountNumber",
                    "transactionType"
                ],
                "type": "object",
                "properties": {
                    "bankCode": {
                        "type": "string",
                        "example": "0025"
                    },
                    "transactionType": {
                        "type": "string",
                        "example": "PESALINK_LOOKUP"
                    },
                    "accountNumber": {
                        "type": "string",
                        "example": "0021024000039"
                    },
                    "timestamp": {
                        "type": "string",
                        "example": "2021-01-29T00:54:08+03:00"
                    }
                }
            },
            "verificationRequest": {
                "required": [
                    "bankCode",
                    "timestamp",
                    "accountNumber",
                    "transactionType"
                ],
                "type": "object",
                "properties": {
                    "bankCode": {
                        "type": "string",
                        "example": "0025"
                    },
                    "timestamp": {
                        "type": "string",
                        "example": "2021-01-29T00:54:08+03:00"
                    },
                    "accountNumber": {
                        "type": "string",
                        "example": "00234566690302"
                    },
                    "transactionType": {
                        "type": "string",
                        "example": "PESALINK_LOOKUP"
                    }
                }
            },
            "safaricomAirtimeTopUpRequest": {
                "required": [
                    "amount",
                    "creditAccount",
                    "currency",
                    "timestamp",
                    "transactionReference",
                    "transactionType"
                ],
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "string",
                        "example": "300"
                    },
                    "creditAccount": {
                        "type": "string",
                        "example": "254700123151"
                    },
                    "transactionType": {
                        "type": "string",
                        "example": "SAFARICOM"
                    },
                    "timestamp": {
                        "type": "string",
                        "example": "2021-01-29T00:54:08+03:00"
                    },
                    "currency": {
                        "type": "string",
                        "example": "KES"
                    },
                    "transactionReference": {
                        "type": "string",
                        "example": "DKDFHST67DJD"
                    }
                }
            },
            "telkomAirtimeTopUpRequest": {
                "required": [
                    "amount",
                    "creditAccount",
                    "currency",
                    "timestamp",
                    "transactionReference",
                    "transactionType"
                ],
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "string",
                        "example": "300"
                    },
                    "creditAccount": {
                        "type": "string",
                        "example": "254700123151"
                    },
                    "transactionType": {
                        "type": "string",
                        "example": "TELKOM"
                    },
                    "timestamp": {
                        "type": "string",
                        "example": "2021-01-29T00:54:08+03:00"
                    },
                    "currency": {
                        "type": "string",
                        "example": "KES"
                    },
                    "transactionReference": {
                        "type": "string",
                        "example": "DKDFHST67DJD"
                    }
                }
            },
            "airtelAirtimeTopUpRequest": {
                "required": [
                    "amount",
                    "creditAccount",
                    "currency",
                    "timestamp",
                    "transactionReference",
                    "transactionType"
                ],
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "string",
                        "example": "300"
                    },
                    "creditAccount": {
                        "type": "string",
                        "example": "254700123151"
                    },
                    "transactionType": {
                        "type": "string",
                        "example": "AIRTEL"
                    },
                    "timestamp": {
                        "type": "string",
                        "example": "2021-01-29T00:54:08+03:00"
                    },
                    "currency": {
                        "type": "string",
                        "example": "KES"
                    },
                    "transactionReference": {
                        "type": "string",
                        "example": "DKDFHST67DJD"
                    }
                }
            },
            "createStandingOrderRequest": {
                "required": [
                    "accountTo",
                    "amount",
                    "dateSettlement",
                    "endDate",
                    "frequency"
                ],
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "number",
                        "example": 3000
                    },
                    "accountTo": {
                        "type": "string",
                        "example": "0021024000039"
                    },
                    "frequency": {
                        "type": "string",
                        "example": "M"
                    },
                    "endDate": {
                        "type": "string",
                        "example": "20240831"
                    },
                    "dateSettlement": {
                        "type": "string",
                        "example": "1120"
                    }
                }
            },
            "createExternalStandingOrderRequest": {
                "required": [
                    "accountTo",
                    "amount",
                    "dateSettlement",
                    "endDate",
                    "frequency",
                    "sortCode",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "number",
                        "example": 3000
                    },
                    "accountTo": {
                        "type": "string",
                        "example": "0021024000039"
                    },
                    "frequency": {
                        "type": "string",
                        "example": "M"
                    },
                    "endDate": {
                        "type": "string",
                        "example": "20240831"
                    },
                    "dateSettlement": {
                        "type": "string",
                        "example": "1120"
                    },
                    "sortCode": {
                        "type": "string",
                        "example": "17000"
                    },
                    "name": {
                        "type": "string",
                        "example": "John Doe"
                    }
                }
            },
            "balanceInquiryRequest": {
                "type": "object",
                "properties": {}
            },
            "safaricomCallback": {
                "type": "object",
                "properties": {}
            },
            "accountStatementRequest": {
                "required": [
                    "startDate",
                    "endDate"
                ],
                "type": "object",
                "properties": {
                    "startDate": {
                        "type": "string",
                        "example": "20230501"
                    },
                    "endDate": {
                        "type": "string",
                        "example": "20230816"
                    }
                }
            },
            "qrCodeSchemaRequest": {
                "required": [
                    "RefNo",
                    "Amount",
                    "Merchantname",
                    "TrxCode",
                    "CPI",
                    "Size"
                ],
                "type": "object",
                "properties": {
                    "RefNo": {
                        "type": "string",
                        "example": "AERDUDSODEE"
                    },
                    "Amount": {
                        "type": "number",
                        "example": 1
                    },
                    "TrxCode": {
                        "type": "string",
                        "example": "BG"
                    },
                    "CPI": {
                        "type": "string",
                        "example": "373132"
                    },
                    "Size": {
                        "type": "string",
                        "example": "300"
                    }
                }
            },
            "staticQRSchemaRequest": {
                "required": [
                    "RefNo",
                    "Amount"
                ],
                "type": "object",
                "properties": {
                    "RefNo": {
                        "type": "string",
                        "example": "AERDUDSODEE"
                    },
                    "Amount": {
                        "type": "number",
                        "example": 1
                    }
                }
            },
            "stkPushSchemaRequest": {
                "required": [
                    "TransactionType",
                    "Amount",
                    "Timestamp",
                    "PartyA",
                    "PhoneNumber",
                    "CallBackURL",
                    "TransactionDesc"
                ],
                "type": "object",
                "properties": {
                    "TransactionType": {
                        "type": "string",
                        "example": "CustomerPayBillOnline"
                    },
                    "Amount": {
                        "type": "number",
                        "example": 1
                    },
                    "Timestamp": {
                        "type": "string",
                        "example": "20160216165627"
                    },
                    "PartyA": {
                        "type": "string",
                        "example": "254708374149"
                    },
                    "PhoneNumber": {
                        "type": "string",
                        "example": "254708374149"
                    },
                    "CallBackURL": {
                        "type": "string",
                        "example": "https://my-domain.com"
                    },
                    "TransactionDesc": {
                        "type": "string",
                        "example": "Test Payment"
                    }
                }
            },
            "rtgsRequest": {
                "required": [
                    "accountTo",
                    "amount",
                    "beneficiaryName",
                    "paymentNarrative",
                    "endToEndRef",
                    "swiftCode"
                ],
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "number",
                        "example": 50000
                    },
                    "accountTo": {
                        "type": "string",
                        "example": "0021024000039"
                    },
                    "beneficiaryName": {
                        "type": "string",
                        "example": "POWER GROUP TECHNOLOGIES LTD"
                    },
                    "paymentNarrative": {
                        "type": "string",
                        "example": "Payment for invoice #132189"
                    },
                    "endToEndRef": {
                        "type": "string",
                        "example": "ADHDKDUDHSJ"
                    },
                    "swiftCode": {
                        "type": "string",
                        "example": "EQBLKENA"
                    }
                }
            },
            "standingOrderLookupRequest": {
                "required": [
                    "client_id",
                    "currency",
                    "reference_number",
                    "so_id",
                    "timestamp",
                    "transaction_type"
                ],
                "type": "object",
                "properties": {
                    "transaction_type": {
                        "type": "string",
                        "example": "STO"
                    },
                    "reference_number": {
                        "type": "string",
                        "example": "20GY1KKB2CSWL"
                    },
                    "timestamp": {
                        "type": "string",
                        "example": "2021-01-29T00:54:08+03:00"
                    },
                    "currency": {
                        "type": "string",
                        "example": "KES"
                    },
                    "client_id": {
                        "type": "string",
                        "example": "OA9876543"
                    }
                }
            },
            "ammendStandingOrderRequest": {
                "required": [
                    "amount",
                    "client_id",
                    "currency",
                    "end_date",
                    "reference_number",
                    "so_id",
                    "timestamp",
                    "transaction_type"
                ],
                "type": "object",
                "properties": {
                    "so_id": {
                        "type": "string",
                        "example": "0021024000038.10"
                    },
                    "end_date": {
[...]
